<div class="row">
    <h2> Educación</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11"> 
     <ul>
          <li><h3>Argentina Programa</h3>  <h3> (Presente)</h3><p>
            Curso: #YoProgramo, para ser programador web full-stack junior.
          </p></li>
          <li><h3>Argentina Programa </h3>  <h3>(2021)</h3><p>
            Curso introductorio: #SéProgramar
          </p></li>
          <li><h3>Bioquimica </h3>  <h3>(2011-2021)</h3><p>
            Facultad de Bioquímica UNT 
          </p></li>
          <li><h3>Ciencias Naturales </h3>  <h3>(2005-2010)</h3><p>
           Colegio Santa Rosa - Tucuman
          </p></li>

    </ul>
    </div>
</div>
