<div class="row">
    <h1>Hard & Soft Skills</h1>
        <div class="text-center col -sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="75"
                [radius]="80"
                [outerStrokeWidth]="10"
                [imageSrc]= "'../assets/HTML.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [showSubtitle]="false"
                [showUnits]="false"
                [innerStrokeWidth]="10"
                [outerStrokeColor]="'#006064'"
                [innerStrokeColor]="'#80CBC4'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
    
        <div class="text-center col -sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="65"
                [radius]="80"
                [outerStrokeWidth]="10"
                [imageSrc]= "'../assets/CSS.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [showSubtitle]="false"
                [showUnits]="false"
                [innerStrokeWidth]="10"
                [outerStrokeColor]="'#006064'"
                [innerStrokeColor]="'#80CBC4'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>

        <div class="text-center col -sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="35"
                [radius]="80"
                [outerStrokeWidth]="10"
                [imageSrc]= "'../assets/JavaScript.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [showSubtitle]="false"
                [showUnits]="false"
                [innerStrokeWidth]="10"
                [outerStrokeColor]="'#006064'"
                [innerStrokeColor]="'#80CBC4'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
    
        <div class="text-center col -sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="55"
                [radius]="80"
                [outerStrokeWidth]="10"
                [imageSrc]= "'../assets/Angular.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [showSubtitle]="false"
                [showUnits]="false"
                [innerStrokeWidth]="10"
                [outerStrokeColor]="'#006064'"
                [innerStrokeColor]="'#80CBC4'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>

        </div>
    
        <div class="text-center col -sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="45"
                [radius]="80"
                [outerStrokeWidth]="10"
                [imageSrc]= "'../assets/TS.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [showSubtitle]="false"
                [showUnits]="false"
                [innerStrokeWidth]="10"
                [outerStrokeColor]="'#006064'"
                [innerStrokeColor]="'#80CBC4'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
     
        <div class="text-center col -sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="40"
                [radius]="80"
                [outerStrokeWidth]="10"
                [imageSrc]= "'../assets/github.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [showSubtitle]="false"
                [showUnits]="false"
                [innerStrokeWidth]="10"
                [outerStrokeColor]="'#006064'"
                [innerStrokeColor]="'#80CBC4'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>

        <div class="text-center col -sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="85"
                [radius]="80"
                [outerStrokeWidth]="10"
                [imageSrc]= "'../assets/comunicar.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [showSubtitle]="false"
                [showUnits]="false"
                [innerStrokeWidth]="10"
                [outerStrokeColor]="'#006064'"
                [innerStrokeColor]="'#80CBC4'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>

        <div class="text-center col -sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="75"
                [radius]="80"
                [outerStrokeWidth]="10"
                [imageSrc]= "'../assets/idear.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [showSubtitle]="false"
                [showUnits]="false"
                [innerStrokeWidth]="10"
                [outerStrokeColor]="'#006064'"
                [innerStrokeColor]="'#80CBC4'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>

        <div class="text-center col -sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="90"
                [radius]="80"
                [outerStrokeWidth]="10"
                [imageSrc]= "'../assets/optimismo.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [showSubtitle]="false"
                [showUnits]="false"
                [innerStrokeWidth]="10"
                [outerStrokeColor]="'#006064'"
                [innerStrokeColor]="'#80CBC4'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
    
</div>
    
    
    
    
    
    
    
    
    
   
   
    



    