<div class="row">
    <h1> Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11"> 
     <ul>
          <li><h2>Argentina Programa</h2>  <h3> (Presente)</h3><p>
            Curso: #YoProgramo, para ser programador web full-stack junior.
          </p></li>
          <li><h2>Argentina Programa </h2>  <h3>(2021)</h3><p>
            Curso introductorio: #SéProgramar
          </p></li>
          <li><h2>Bioquimica </h2>  <h3>(2011-2021)</h3><p>
            Facultad de Bioquímica UNT 
          </p></li>
          <li><h2>Ciencias Naturales </h2>  <h3>(2005-2010)</h3><p>
           Colegio Santa Rosa - Tucuman
          </p></li>

    </ul>
    </div>
</div>
