<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="../../../assets/flor.png" style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Portfolio Web</h4>
                </div>

                <p>Por favor, ingresar usuario y clave</p>

                <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

                  <div class="form-outline mb-4">
                    <input type="email" id="nombreUsuario" name="nombreUsuario" class="form-control"
                      [(ngModel)]="nombreUsuario" [ngModelOptions]="{standalone: true}" required />
                    <label class="form-label" for="form2Example11">Usuario</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="password" class="form-control" [(ngModel)]="password"
                      [ngModelOptions]="{standalone: true}" required />
                    <label class="form-label" for="form2Example22">Password</label>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <!--<a class="text-muted" href="#!">Forgot password?</a>-->
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Login</button>

                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">No tiene una cuenta?</p>
                    <button type="button" class="btn btn-outline-danger">Crear Nueva</button>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Somos mas que una pagina con la que hacer tu portfolio</h4>
                <p class="small mb-0">Te acompañamos a mostrar al mundo quien eres y lo que puedes hacer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>