<div class="row">
    <h1>Experiencia en Informática</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>● Resolución problema: 'Driver irql not less or equal'</h2>
            <p>Esta falla suele ser un error relacionado con la memoria, que se produce si un proceso del sistema o un controlador de dispositivo busca acceso a una dirección de memoria para la que carece de derechos de acceso válidos.</p>

        </div>
            
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Antec01.png" class="img-fluid img-informatica">

        </div>

        
    </div>
</div>
