<div class="row">
    <h1> Experiencia en Bioquímica</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11"> 
     <ul>
         
          <li><h2>Trabajo en 'Laboratorio Clínico Yanes-Rolandi' </h2>  <h3>(Presente)</h3><p>
            Bioquímica en dicho laboratorio. 
          </p></li>
          
          <li><h2>Practicante de Bioquímica</h2>  <h3> (2019-Presente)</h3><p>
            Prácticas de guardia en laboratorios de hospitales de Tucumán.
          </p></li>
          
          <li><h2>Trabajo en 'Laboratorio Clínico Molina' </h2>  <h3>(2022)</h3><p>
            Reemplazo de bioquímico en un lab privado durante varios meses.
          </p></li>


          
    </ul>
    </div>
</div>
