.row {
    padding: 20px;
}
div{
    background-color: #ebf0f5;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 20px;
}
p{
    font-size: 17px;
}
h2,h3{
    display: inline;
}
