<div class="row">
    <h1>Experiencia en Informática</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>● Resolución problema: 'Driver irql not less or equal'</h2>
            <p>Esta falla suele ser un error relacionado con la memoria, que se produce si un proceso del sistema o un controlador de dispositivo busca acceso a una dirección de memoria para la que carece de derechos de acceso válidos.</p>

        </div>
            
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Antec01.png" class="img-fluid img-informatica">

        </div>

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>● Resolución problema: 'bad pool caller windows 10'</h2>
            <p>La pantalla azul bad pool caller 0x00000c2 es un error de Windows que se produce debido a entradas de registro no válidas y configuraciones del sistema configuradas incorrectamente.<br> Este error ocurre principalmente cuando el software solicita al sistema recursos que no están disponibles.</p>

        </div>
            
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Antec02.png" class="img-fluid img-informatica">

        </div>

        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>● Resolución problema: 'Bloqueos repentinos del sistema'</h2>
            <p>Este error suele ser debido a la perdida de capacidad de enfriamiento por obstrucciones en los elementos de refrigeración.</p>

        </div>
            
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/antec03.png" class="img-fluid img-informatica">

        </div>



        
    </div>
</div>
